@mixin paragraph {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
}

@mixin head2 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 24px;
}

@mixin head3 {
    text-transform: uppercase;
    padding: 16px 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #FFFFFF;

}

li {
    list-style: none;
}

p {
    @include paragraph;
}

h2 {
    @include head2;
}

h3 {
    @include head3;
}

h4 {
    @include paragraph;
}

body {
    color: #FFFFFF;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1320px;
    width: 90%;
    margin: 0 auto;
}

#header {
    height: 100vh;
    background-size: cover;
    background: #0376af;
    background-image: url(../images/HeaderBackground.jpg);
    background-repeat: no-repeat;
    background-position: top;
    .search {
        padding-top: 295px;
        text-align: center;
        display: flex;
        flex-direction: column;

        .header_form {
            display: flex;
        }

        h1 {
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 52px;
            text-transform: uppercase;
            padding-bottom: 8px;
        }

        p {
            font-weight: 400;
            font-size: 22px;
            letter-spacing: 0.31em;
            padding-bottom: 48px;
        }
    }
}

input[type=search]:focus {
    outline: none;
}

input[type=search] {
    border: none;
    border-radius: 2px;
    width: 647px;
    height: 60px;
    padding: 20px 36px;
    color: #999999;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
}

.header_form {
    max-width: 650px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    padding: 2px;

    .header_btn {
        border: none;
        width: 30%;
        background: #5373FD;
        color: #FFFFFF;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 24px;
        transition: all .5s ease;
        background-image: linear-gradient(45deg, #486BFE 18%, #123bf0 38%, );
        background-size: 300% 100%;
    }
}

.header_btn::before {
    content: url(../icons/search.svg);
    position: relative;
    top: 3px;
    left: -14px;
}

.scroll_down {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 208px;
    margin-bottom: 140px;

    a {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #fff;
        position: relative;
        top: 0;
        left: 0;

        &:after {
            content: "";
            width: 9px;
            height: 9px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            position: absolute;
            top: 20px;
            left: 50%;
            transform: rotate(-45deg);
            margin-bottom: 120px;

        }
    }
}

.description {
    max-width: 648px;
}


#navigation {
    background-color: #5373FD;
    min-height: 84px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;

    }

    &.sticky+.first {
        padding-top: 106px;
    }


    .nav_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.1em;
        }

        ul {
            display: flex;
            justify-content: space-around;
            gap: 40px;
            list-style: none;
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

        li:hover {
            transform: scale(1.1);
            transition: all .5s ease;
        }
    }

}

.first {
    background-size: cover;
    background: #413b3b;
    background-image: url(../images/WhyBackground.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #3b3b3b;

    .section_first_inner {
        display: flex;
        gap: 135px;

        .description {

            padding: 190px 0;

            p {
                letter-spacing: 0.1em;
                padding-bottom: 28px;
            }
        }

        .first_images img {
            max-width: 350px;
            width: 100%;
        }

        padding: 124px 0 16px;

    }

    img:last-child {
        float: right;
        padding-top: 12px;
    }
}


.first_steps {
    background-size: cover;
    background-image: url(../images/BG_first.jpg);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 240px;

        li {
            display: flex;
            flex-direction: column;
            padding: 127px 10px 60px;
            max-width: 424px;
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
            text-align: center;

            img {
                height: 83px;
                margin: 0 auto;
                padding-bottom: 20px;
            }
        }
    }
}

.second {
    background-size: cover;
    background: #948eb0;
    background-image: url(../images/render-1477041_1280.jpg);
    background-repeat: no-repeat;
    background-position: top;
    min-height: 684px;
    padding-top: 220px;

    .section_second_inner {
        max-width: 648px;
        background: rgba(35, 35, 35, 0.9);
    }

    h4 {
        font-size: 20px;
        letter-spacing: 0.1em;
        margin-top: 10px;
    }

    .description {
        padding: 33px 32px;
    }

    p {
        padding-bottom: 24px;
    }
}

.second_right {
    background-size: cover;
    background: rgb(192 115 85);
    background-image: url(../images/spain.jpg);
    background-repeat: no-repeat;
    background-position: top;

    .container {
        display: flex;
        flex-direction: row-reverse;
    }
}

.last {
    background-size: cover;
    background: #28292b;
    background-image: url(../images/BG_last.jpg);
    background-repeat: no-repeat;
    background-position: top;
    min-height: 680px;

    h2 {
        padding: 120px 0;
        text-align: center;
    }

    .last_inner {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        background: #333333;
        justify-content: start;
        gap: 61px;
    }

    p {
        @include paragraph;

        &::before {
            content: url(../icons/quote-left.svg);
            padding-right: 5px;
        }
    }

    .description_last {
        margin-top: 29px;

        max-width: 760px;
    }
}

.footer {
    .footer_inner {
        text-align: center;
        background-color: #000;
        padding: 80px 0;
    }

    a {
        text-transform: uppercase;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    p {
        @include paragraph;
        padding: 8px 0 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2em;
    }

    .footer_social ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    li:hover {
        transform: rotate(360deg);
        transition: all .5s ease;
    }
}

.second_btn {
    margin-bottom: 11px;
}

.btn {
    background-color: #5373FD;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    border: transparent;
    color: #FFFFFF;
    padding: 20px 40px;
    transition: all .5s ease;
    background-image: linear-gradient(45deg, #486BFE 18%, #123bf0 38%, );
    background-size: 300% 100%;
}

.btn:focus,
.btn:hover {
    background-position: right top;
}

.decor_lines::before {
    content: "";
    width: 350px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 43px;
    right: 54%;
    border: 1px dashed transparent;
    border-top: 1px dashed #FFF;
    opacity: 0.5;
}

.decor_lines::after {
    content: "";
    width: 350px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 43px;
    left: 54%;
    border: 1px dashed transparent;
    border-top: 1px dashed #FFF;
    opacity: 0.5;
}

.fa-brands {
    font-size: 32px;

    &:hover {
        transform: scale(1.25);
        transition: all 0.4s ease;
    }

    &.fa-facebook-f:hover {
        color: rgb(40, 5, 122);
    }

    &.fa-twitter:hover {
        color: #486BFE;
    }

    &.fa-linkedin:hover {
        color: #123bf0;
    }

    &.fa-youtube:hover {
        color: red;
    }

    &.fa-pinterest:hover {
        color: rgb(131, 6, 6);
    }
}

#mobile_menu,
#hamb_btn {
    display: none;
}